@use "../../sass/variables" as *;


.itemToDo {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 370px 60px 375px;


    &__title {
        text-align: left;
        padding-left: 1rem;
    }

    &__status {
        text-align: center;
    }

    &__options {
        text-align: right;
        padding-right: 1rem;
    }

    &__option-delete {
        margin-left: 0.5rem;
    }


    &__title,
    &__status,
    &__options {
        margin-top: 2rem;
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 1.55rem;
    }

    &__option-edit,
    &__option-delete {
        cursor: pointer;
    }
}

.itemToDo:last-child {
    margin-bottom: 5rem;
}


/*********************************************************************************************/
/************************************ RESPONSIVIDADE *****************************************/
/*********************************************************************************************/


@media screen and (max-width: 768px) {
    .itemToDo {
        grid-template-columns: 330px 25px 330px;
        &__title {
            text-align: left;
            margin-left: 5rem;
        }

        &__options {
            margin-right: 4rem;
        }

        &__option-delete {
            margin-left: 0.5rem;
        }

        &__title,
        &__status,
        &__options {
            font-size: 1.1rem;
        }
    }
}


/*********************************************************************************************/
/************************************ RESPONSIVIDADE *****************************************/
/************************************     425px      *****************************************/
/*********************************************************************************************/

@media screen and (max-width: 426px) {
    .itemToDo {
        grid-template-columns: 150px 45px 160px;
        &__title {
            text-align: left;
            margin: 2rem 0rem 0rem 1.5rem;
            padding: 0;
        }
    
        &__options {
            margin-right: 1.6rem;
        }
    
        &__option-delete {
            margin-left: 0.3rem;
        }
    
        &__title,
        &__status,
        &__options {
            font-size: 0.6rem;
        }
    
        &__option-edit,
        &__option-delete {
            width: 15%;
        }
    }
}

/*********************************************************************************************/
/************************************ RESPONSIVIDADE *****************************************/
/************************************     375px      *****************************************/
/*********************************************************************************************/

@media screen and (max-width: 376px) {
    .itemToDo {
        grid-template-columns: 165px 15px 165px;

        &__title {
            margin-left: 2.5rem;
        }

        &__options {
            margin-right: 0rem;
            padding-right: 2rem;
        }
    }
}