@use "../../sass/variables" as *;


.mainContainer {
    text-align: center;
    background-color: $black;
    height: auto;
    color: $white;


    &__table {
        display: grid;
        justify-content: center;
        padding-top: 7rem;
    }

    &__table-firstLine {
        border-style: solid;
        border-bottom-width: 0.65rem;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-radius: 0.5rem;
        border-color: #D9D9D9;
        padding-bottom: 3rem;
    }

    &__table-firstLine:first-child {
        padding-left: 1rem;
    }

    &__table-firstColumn,
    &__table-secondColumn,
    &__table-thirdColumn {
        font-family: 'Raleway';
        font-size: 1.875rem;
        font-weight: 600;
        text-align: left;
    }

    &__table-secondColumn,
    &__table-thirdColumn {
        padding-left: 15rem;
    }

    &__table-thirdColumn {
        padding-right: 1rem;
    }


    &__table-lastLine {
        margin-top: 4rem;
        margin-bottom: 4rem;
        display: flex;
        justify-content: space-between;
    }

    &__table-lastLine-firstColumn {
        padding-left: 1rem;
        background: transparent;
        border: none;

        font-family: 'Raleway';
        font-size: 1.56rem;
        font-style: italic;
        font-weight: 400;
        color: $white;
    }

    &__table-lastLine-firstColumn::placeholder {
        color: $white;
    }

    &__table-lastLine-lastColumn {
        padding-right: 3rem;
    }

    &__table-lastLine-lastColumn:hover {
        cursor: pointer;
    }
}


/*********************************************************************************************/
/************************************ RESPONSIVIDADE *****************************************/
/*********************************************************************************************/


@media screen and (max-width: 768px) {
    .mainContainer {
        &__table {
            display: grid;
            justify-content: center;
            padding-top: 4rem;
        }

        &__table-firstLine {
            display: flex;
            justify-content: space-around;
            border-bottom-width: 0.3rem;
            padding-bottom: 1.5rem;
        }

        &__table-firstColumn,
        &__table-secondColumn,
        &__table-thirdColumn {
            font-size: 1.2rem;
        }

        &__table-secondColumn,
        &__table-thirdColumn {
            padding-left: 0%;
        }

        &__table-thirdColumn {
            padding-right: 0rem;
        }

        &__table-lastLine {
            margin-top: 2rem;
        }

        &__table-lastLine-firstColumn {
            padding-left: 6.8rem;
            font-size: 1.1rem;
        }

        &__table-lastLine-lastColumn {
            padding-right: 8rem;
        }
    }
}