@use "../../sass/variables" as *;

.editModalContainerMain {
    height: 100vh;
    background-color: $black;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.editModal {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 758px;
    height: 436px;
    border-radius: 10px;
    border: 1px;

    background-color: $white;

    &__title {
        color: $black;
        font-size: 35px;
        font-weight: 600;
        font-family: 'Raleway';

        margin-top: 6rem;
    }

    &__subtitle {
        color: $black;
        font-size: 25px;
        font-weight: 400;
        font-family: 'Raleway';
        text-align: center;
        border-style: none;
        margin-top: 4rem;
    }

    &__btns {
        margin-top: 6rem;
    }

    &__btns-no,
    &__btns-yes {
        width: 9rem;
        height: 3rem;
        border-radius: 0.5rem;
        border-color: $black;
        background-color: $white;

        font-family: Raleway;
        font-size: 20px;
        font-weight: 600;

    }

    &__btns-no {
        margin-right: 2rem;
    }

    &__btns-yes {
        margin-left: 2rem;
    }

    &__btns-no:hover,
    &__btns-yes:hover {
        background-color: $contrast-color;
        color: $white;
        transition: 0.5s;
        cursor: pointer;
    }
}

/*********************************************************************************************/
/************************************ RESPONSIVIDADE *****************************************/
/*********************************************************************************************/

@media screen and (max-width: 768px) {     
    .editModal {
        width: 550px;
        height: 300px;

        &__title {
            font-size: 30px;
            margin-top: 3rem;
        }

        &__subtitle {
            font-size: 20px;
            margin-top: 2rem;
        }

        &__btns {
            margin-top: 4rem;
        }

        &__btns-no,
        &__btns-yes {
            width: 7.5rem;
            height: 2.5rem;
            font-size: 15px;
        }
    }
}

/*********************************************************************************************/
/************************************ RESPONSIVIDADE *****************************************/
/*********************************************************************************************/

@media screen and (max-width: 426px) {     
    .editModal {
        width: 300px;
        height: 150px;

        &__title {
            font-size: 15px;
            margin-top: 1.5rem;
        }

        &__subtitle {
            font-size: 10px;
            margin-top: 1rem;
        }

        &__btns {
            margin-top: 2rem;
        }

        &__btns-no,
        &__btns-yes {
            width: 4.5rem;
            height: 1.5rem;
            font-size: 10px;
        }

        &__btns-no {
            margin-right: 1rem;
        }
    
        &__btns-yes {
            margin-left: 1rem;
        }
    }
}